@import "../../Styles/Variables.scss";

.contact__us__page {
  padding-top: 150px;
  // padding-bottom: 100px;
  .contact__us__content {
    h2.section__title {
      text-align: center;
      margin-bottom: 14vpx;
    }
    .contact__us__text {
      font-size: $ft__16;
      color: $black__color;
      text-align: center;
      max-width: 100%;
      width: 700px;
      margin: 0 auto 40px;
      opacity: 0.9;
      line-height: 26px;
    }
    .contact__form {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 800px;
      max-width: 100%;
      margin: 0 auto 40px;
      form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        flex: 1;
        .main__button {
          background-color: $main__color;
          &:focus,
          &:hover {
            background-color: $gold__color;
          }
        }
        > div {
          position: relative;
          flex: 1;
          display: flex;
          .icon {
            position: absolute;
            top: 50%;
            left: 0;
            width: 60px;
            font-size: 26px;
            display: flex;
            transform: translateY(-50%);
            color: $color__white;
          }
        }
        textarea,
        input {
          all: unset;
          background-color: $color__white;
          min-height: 50px;
          padding: 0 10px;
          border-radius: 50px;
          border: 2px solid $main__color;
          border-left-width: 58px;
          width: 100%;
          &:focus {
            border-color: $gold__color;
          }
        }
        textarea {
          padding-top: 20px;
          min-height: 150px;
          border-radius: 10px;
          border: 2px solid $main__color;
          width: auto;
        }
      }
    }
    .whatsapp {
      margin: 0 auto;
      width: fit-content;
      border: 2px solid $main__color;
      color: $color__white;
      background-color: $main__color;
      font-size: $ft__20;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      padding: 12px 24px;
      border-radius: 50px;
      transition: 0.6s ease-in-out;
      &:hover {
        background-color: $color__white;
        color: $gold__color;
        border-color: $gold__color;
      }
    }
  }
}
