.collection__section {
  .section__title {
    text-align: center;
  }
  .collection__content {
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    // background-color: red;
    gap: 4px;
  }
  .sec__button {
    margin: 0 auto;
    cursor: pointer;
    width: fit-content;
  }
}
