@import "../../Styles/Variables.scss";

.service__block {
  border-radius: 4px;
  .service__title {
    color: $main__color;
    font-size: $ft__24;
    margin-bottom: 18px;
    font-weight: $ft__W__S;
    transition: 0.3s ease-in-out;
    position: relative;
    display: block;
    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100px;
      height: 3px;
      background-color: $main__color;
      transition: 0.3s ease-in-out;
    }
  }
  .service__media {
    border-radius: 4px;
    margin-bottom: 20px;
    height: 300px;
    overflow: hidden;
    transition: 0.6s ease-in-out;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.4;
      transition: 0.6s ease-in-out;
    }
    img {
      transition: 0.6s ease-in-out;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .sec__button {
    margin-top: 8px;
    width: fit-content;
    padding: 10px 20px;
    border-radius: 4px;
  }
  .service__desc {
    line-height: 30px;
    &.wrap {
      overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 3; /* start showing ellipsis when 3rd line is reached */
      white-space: pre-wrap;
    }
  }
  &:hover {
    .service__media {
      &::after {
        opacity: 0;
      }
      img {
        transform: scale(1.06312321);
      }
    }
    .service__title {
      color: $Bluish__Grey;
      &::after {
        background-color: $Bluish__Grey;
      }
    }
    .sec__button {
      background-color: $Bluish__Grey;
    }
  }
}
