@import "../../Styles/Variables.scss";

.hero__section {
  height: calc(100vh - 60px);
  margin-top: 60px;
  // background-color: red;
  .hero__slider {
    height: 100%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .div {
    position: relative;
    height: 100%;
    overflow: hidden;
    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #000;
      opacity: 0.5;
    }
    .Heading {
      font-family: myFirstFont;
      color: $color__white;
      position: absolute;
      top: 80%;
      left: 50%;
      transform: translate(-50%, -50%);
      opacity: 0;
      font-size: $ft__52;
      text-align: center;
      z-index: 1;
      width: 100%;
      transition: 1s ease-in-out;
      &.one {
        font-size: 72px;
        max-width: 800px;
        padding: 12px 20px;
        background-color: rgba(0, 0, 0, 0.199);
        border-radius: 10px;
        border: 4px solid $color__white;
        backdrop-filter: blur(3px);
        letter-spacing: -1.2px;
        &::first-letter {
          color: $gold__color;
        }
      }
      &.two {
        font-size: 26px;
        top: 50%;
        left: 0%;
        transform: translate(-100%, 00%);
        opacity: 0;
        width: fit-content;
        padding: 12px 20px;
        background-color: $main__color;
        &.active {
          transition-delay: 0.8s;
          animation: none;
          transform: translate(0%, 00%);
          opacity: 1;
        }
      }
      &.three {
        font-size: 32px;
        max-width: 900px;
        line-height: 46px;
        border: 4px solid $color__white;
        color: $color__white;
        padding: 12px 20px;
        background-color: #ffffff1a;
        border-radius: 10px;
        backdrop-filter: blur(4px);
        letter-spacing: 1.2px;
        &::first-letter {
          color: $gold__color;
        }
      }
      &.active {
        transition-delay: 1s;
        animation: poup 1s 0.6s ease-in-out forwards;
      }
    }
    .hero__social {
      position: absolute;
      z-index: 1;
      top: 63%;
      left: 50px;
      transform: translateY(-50%);
      opacity: 0;
      transition: 1s ease-in-out;
      top: 90%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 30px;
      .sec__button {
        opacity: 0;
        transform: translateX(-180%);
      }
      &.active {
        transition-delay: 1.6s;
        opacity: 1;
        top: 50%;
        transform: translateY(70px);
        .sec__button {
          transition-delay: 2s;
          opacity: 1;
          transform: translateX(0%);
        }
      }
      ul {
        display: flex;
        gap: 20px;
        font-size: $ft__26;
        color: $color__white;
      }
      li {
        background-color: $main__color;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
        a {
          width: 40px;
          height: 40px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
@keyframes poup {
  to {
    opacity: 1;
    top: 50%;
    left: 50%;
  }
}
@keyframes poup2 {
  to {
    opacity: 1;
    top: 50%;
    left: 0%;
  }
}
