@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100;200;300;400;500;600;700;800;900&display=swap");

@font-face {
  font-family: myFirstFont;
  src: url("../fonts/aoox\ font.ttf");
}
@font-face {
  font-family: myFirstFont1;
  src: url("../fonts/Junge-Regular.ttf");
}

@import "./variables.scss";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  // background-color: #f2f3f8;
  // background-color: #fbfbfb;
  scroll-behavior: smooth;
  background-color: #f5f5f5;
  overflow-x: hidden;
  &:lang(ar) {
    font-family: "Noto Kufi Arabic", sans-serif;
  }
}
a {
  color: inherit;
  text-decoration: none;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
button {
  cursor: pointer;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin-bottom: 0;
  margin: 0;
  padding: 0;
}
ul {
  list-style: none;
}
* {
  box-sizing: border-box;
}
a,
button {
  all: unset;
  cursor: pointer;
}
// Global Classes
.container {
  margin: 0 auto;
  padding: 0 20px;
  max-width: 1250px;
}

.section__space {
  margin: 100px 0;
}
.section__padding {
  padding: 100px 0;
  background-color: #f2f3f8;
  // background-color: #dadde9;
  background-color: #fff;
}
.section__title {
  font-size: $ft__48;
  color: $black__color;
  position: relative;
  margin-bottom: 60px;
  font-family: myFirstFont;
  font-weight: bold;
  line-height: 68px;
  &:lang(ar) {
    font-family: "Noto Kufi Arabic", sans-serif;
  }
}
.main__text {
  font-size: $ft__16;
  line-height: 1.7;
  color: #1d1c1cbf;
  font-weight: $ft__W__M;
}
.sec__button,
.main__button {
  padding: 16px 20px;
  background-color: $Bluish__Grey;
  color: $color__white;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 100px;
  font-size: $ft__14;
  font-weight: $ft__W__M;
  transition: 0.3s ease-in-out;
  border-radius: 4px;
  &:hover {
    background-color: $main__color;
  }
}
.sec__button {
  background-color: $main__color;
  &:hover {
    background-color: $Bluish__Grey;
  }
}
.page {
  padding-top: 80px;
}
// ======
.my-masonry-grid {
  display: -webkit-box; /* Not needed if autoprefixing */
  display: -ms-flexbox; /* Not needed if autoprefixing */
  display: flex;
  margin-left: -30px; /* gutter size offset */
  width: auto;
}
.my-masonry-grid_column {
  padding-left: 30px; /* gutter size */
  // background-clip: padding-box;
}

/* Style your items */
.my-masonry-grid_column > div {
  /* change div to reference your elements you put in <Masonry> */
  // background: grey;
  margin-bottom: 30px;
}
