@import "../../styles/variables.scss";

.fullscreen__slider {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  z-index: 1000000;
  .overlay__ {
    animation: animate2 $transition forwards;
    transition: 0.3s ease-in-out;
    background-color: #000;
    opacity: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  .close__btn {
    position: absolute;
    top: 10px;
    left: 10px;
    z-index: 1000000000;
    font-size: $ft__28;
    color: #fff;
  }
  .slider__content {
    z-index: 1000;
    width: 100%;
    height: 100%;
    opacity: 0;
    animation: animate1 $transition 0.1s forwards;
    padding: 60px 10px 20px;
    .image-gallery-content {
      display: flex;
      flex-direction: column;
      row-gap: 20px;
      justify-content: space-between;
    }
    .image-gallery-content,
    .image-gallery {
      width: 100%;
      height: 100%;
      .image-gallery-slide-wrapper {
        height: calc(100% - 100px);
      }
      .image-gallery-slide .image-gallery-image,
      .image-gallery-slide,
      .image-gallery-slides,
      .image-gallery-swipe {
        height: 100% !important;
      }
      .image-gallery-slide .image-gallery-image {
        width: 100%;
        height: 100%;
        max-height: 100% !important;
      }
    }
    .image-gallery-thumbnail {
      width: 100px;
      height: 60px;
    }
    .image-gallery-thumbnail .image-gallery-thumbnail-inner {
      width: 100%;
      height: 100%;
    }
    .image-gallery-thumbnail .image-gallery-thumbnail-image {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .image-gallery-thumbnails {
      padding: 0 !important;
    }
  }
}

@keyframes animate2 {
  to {
    opacity: 0.9;
  }
}
@keyframes animate1 {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

// @media(max-width: 991px) {
//   .fullscreen__slider {
//     .slider__content {
//       .image-gallery-content {
//         .image-gallery-slide {
//           .image-gallery-image {
//             max-height: 80vh !important;
//           }

//         }
//       }
//     }
//   }
// }
