@import "../../Styles/Variables.scss";

.main__header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  background-color: $color__white;
  background-color: #f2f3f8;
  z-index: 1000;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  transition: transform 0.3s ease-in-out;
  // box-shadow: -1px 7px 14px 0px #00000017;
  &.header__show {
    position: fixed;
    transform: translateY(0);
    box-shadow: 0px 0px 10px #00000008;
    background-color: $color__white;
    border-bottom: 2px solid $gold__color;
    background-color: #000000cb;
    backdrop-filter: blur(8px);
    .nav {
      .links__list,
      .nav__list {
        color: $color__white;
      }
    }
  }
  &.header__hide {
    transform: translateY(-100%);
  }
  .nav {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    .logo {
      height: 100%;
      display: flex;
      align-items: center;
      img {
        width: 190px;
        height: auto;
        object-fit: contain;
      }
    }
    .links__list,
    .nav__list {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      .links__list {
        gap: 35px;
        margin-right: 24px;
        &:lang(ar) {
          margin-right: 0px;
          margin-left: 40px;
        }
        .main__link {
          position: relative;
          font-size: $ft__16;
          font-weight: $ft__W__B;
          transition: 0.3s ease-in-out !important;
          display: flex;
          align-items: center;
          &::after {
            content: "";
            position: absolute;
            bottom: -6px;
            left: 50%;
            transform: translateX(-50%);
            width: 0;
            height: 2px;
            background-color: $gold__color;
            transition: 0.3s ease-in-out !important;
          }
          &:hover,
          &.active {
            color: $gold__color;
            &::after {
              width: 100%;
            }
          }
        }
      }
    }
    .language__btn {
      font-weight: $ft__W__B;
      font-size: $ft__16;
      transition: 0.3s ease-in-out;
      &:hover {
        color: $gold__color;
      }
    }
    .whats__app {
      margin-right: 10px;
      transition: 0.3s ease-in-out;
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-right: 14px;
      &:lang(ar) {
        margin-right: 0px;
        margin-left: 14px;
      }
      &:hover {
        color: $gold__color;
        border-color: $gold__color;
      }
    }
  }
  &.home__hero {
    background-color: #0000003b;
    // background-color: transparent;
    backdrop-filter: blur(4px);
    border-bottom: 2px solid $gold__color;
    &.header__show {
      background-color: #000000cb;
      backdrop-filter: blur(8px);
    }
    .nav {
      .links__list,
      .nav__list {
        color: $color__white;
      }
    }
  }
}
