@import "../../Styles/Variables.scss";

.footer {
  background-image: url("../../../public/assets/footer.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding: 40px 0;
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000008f;
  }
  .container {
    position: relative;
    z-index: 1;
    .section__title {
      color: $color__white;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      margin-bottom: 20px;
    }
    .footer__details {
      display: flex;
      gap: 40px;
      align-items: flex-start;
      justify-content: center;
      color: $color__white;
      > div {
        flex: 1;
      }
      h5 {
        font-size: 24px;
        margin-bottom: 20px;
      }
      .text__details {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 4px;
        font-size: 18px;
        margin-bottom: 14px;
      }
      .location__container {
        height: 200px;
        // overflow: hidden;
        display: flex;
      }
    }
    .footer__social__list {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 20px;
      font-size: $ft__28;
      color: $color__white;
      li {
        a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 40px;
          height: 40px;
          background-color: $main__color;
          border-radius: 50%;
          transition: 0.3s ease-in-out;
          &:hover {
            background-color: $Bluish__Grey;
          }
        }
      }
    }
    .sec__button {
      width: fit-content;
      margin: 20px auto 0;
    }
  }
}
